@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header h1{
    font-family: 'Caveat Brush', cursive; 
    font-size: 8vh;
    margin-bottom: -5px;
}

.header img{
    width: 180px;
    height: auto;
    margin-bottom: 0%;
}

.container {
    display: block;
    margin: 0 auto;
}

.header p{
   font-family: 'Montserrat', cursive;
   font-size: 11px;
   margin-bottom: -8px;
   opacity: 0.5;
}
.header p.last {
    margin-bottom: 10px;
}

.qst p{
    font-family: 'Montserrat', cursive;
    font-size: 10px;
    opacity: 0.5;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
}

.qst hr{
    opacity: 0.1;
}

.first {
    font-family: 'Montserrat', cursive;
    display: flex;
    justify-content: center;
}

.first p{
    font-size: 8px;
    opacity: .5;
}

.first h4{
    font-size: 10px;
    align-items: center;
}

.second {
    font-family: 'Montserrat', cursive;
    display: flex;
}

.second p{
    font-size: 8px;
    opacity: .5;
}

.second h4{
    font-size: 10px;
    align-items: center;
}

.qst .color p{
    text-wrap: nowrap;
}

.color{
    color: #807C59;
    white-space: nowrap;
}

.qst span{
    text-decoration: underline;

}

.section p{
    opacity: 0.5;
 }

  .registration-container {
    display: none;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
  .registration-container input[type="text"],
  .registration-container input[type="email"],
  .registration-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .registration-container input[type="submit"] {
    width: 100%;
    background-color: #807C59;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .show-registration-btn {
    background-color: #807C59;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

